# Mapbox Access Token
# Get your token from: https://account.mapbox.com/access-tokens/
VITE_MAPBOX_ACCESS_TOKEN=your_mapbox_access_token_here

# GraphQL endpoint
VITE_GRAPHQL_ENDPOINT=http://localhost:7890/api/graphql

# Cloudinary (for cover picture upload in server actions)
VITE_CLOUDINARY_NAME=dyrr02xuq
VITE_CLOUDINARY_API_KEY=541173629378825
VITE_CLOUDINARY_API_SECRET=rU5KDYzDVCOZoi_F8hWVfeRhtro